$containerWidth: 1180px;
$topBackgroundcolor: #e74c3c;
$strongBrown: #482e2e;
$semiBrown: #856b6b;
$lightBrown: #8b7272;
$golden: #fdab00;
$gold: #f7c640;
$darkBackground: #2c3e50;
$lightBlue: #879cb0;
$extraBold: 800;
$bold: 700;
$semiBold: 600;
$regular: 400;
$thin: 100;
$mobileBreakpoint: 512px;
$tabletBreakpoint: 768px;
$smalldeskBreakpoint : 1024px;