.bg-dark {
  background-color: $darkBackground;
}

.bg-white {
  background-color: white !important;
  color: $darkBackground !important;
}

.bg-red {
  background-color: #e74c3c !important;
}

.bg-gold {
  background-color: #f39c12 !important;
}

.bg-green {
  background-color: #27ae60 !important;
}

.bg-blue {
  background-color: #5cace2 !important;
}

.bg-purple {
  background-color: #a469bd !important;
}

.bg-dark-green {
  background-color: #16a085 !important;
}

.bg-fire-red {
  background-color: #ff5c26 !important;
}

.bg-black {
  background-color: #182430 !important;
}

.more {
  padding: 0px 20px !important;
}

.uppercase {
  text-transform: uppercase !important;
}
  
.color-grey {
  color: #555555 !important;
}

.color-green {
  color: #26cbbe !important;  
}

.color-price-green {
  color: #2ecc71 !important;
}

.color-purple {
  color: #a469bd !important;
}

.color-blue {
  color: #3b99d8 !important;  
}

.color-gold {
  color: #f7c640 !important;  
}

.color-white {
  color: white !important;
}

.color-dark {
  color: #333333 !important;
}

.color-fire-red {
  color: #ff5c26 !important;
}

.color-red {
  color: #e74c3c !important;
}

.color-yellow {
  color:#a8cf69 !important;  
}

.color-dark-grey {
  color: #777777 !important;
}

.bg-price-green {
  background-color: #2ecc71 !important;
}

.bg-price-blue {
  background-color: #5399c7 !important;
}

.bg-price-red {
  background-color: #e74c3c !important;
}