@font-face {
	font-family: 'Nexa-Bold';
	src: 
		url('../../public/fonts/nexa-bold.otf') 
		format('opentype');
}
@font-face {
	font-family: 'Nexa-Light';
	src: 
		url('../../public/fonts/nexa-light.otf') 
		format('opentype');
}