@import "variables";
@import "mixins";
@import "colors";
@import "button-styles";
@import "fonts";

.top-padding {
  padding-top: 280px;

  @media (max-width: $smalldeskBreakpoint){
    padding: 50px 0 0 0;
  }

  @media (max-width: $tabletBreakpoint) {
    padding: 50px 0 0 0;
  }

  @media (max-width: $mobileBreakpoint) {
    padding: 20px 0 0 0;
  }
}

.bottom-padding {
  padding-bottom: 140px;
}

.small-top-padding {
  padding-top: 85px;
  @media (max-width: $smalldeskBreakpoint){
    padding-top: 10px;
  }
  @media (max-width: $tabletBreakpoint) {
    padding-top: 10px;
  }
}

.medium-top-padding {
  padding-top: 180px;
  @media (max-width: $smalldeskBreakpoint){
    padding-top: 10px;
  }
  @media (max-width: $tabletBreakpoint) {
    padding-top: 10px;
  }
}

.no-padding {
  padding-top: 0px !important;
}

.semi-light-top-margin {
  margin-top: 25px !important;
  @media (max-width: $smalldeskBreakpoint) {
    margin-top: 10px !important; 
  }
}

.top-margin {
  margin-top :55px !important;
  @media (max-width: $smalldeskBreakpoint) {
    margin-top: 0px !important; 
  }
}

.light-top-margin {
  margin-top :20px !important;    
}

* {
    box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin: auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
/* Style the header */
header {
  background-color: $topBackgroundcolor;
  padding: 0px 30px;
  font-size: 20px;
  color: white;
  
  .menu {

    @media (max-width: $tabletBreakpoint) {
      flex-direction: column;
      align-items: center;
      width: unset;
      padding-top: 50px;
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0px;
      margin: 0px;

      li.menu-item {
        padding: 75px 15px 0px 15px;
        
        @media (max-width: $smalldeskBreakpoint) {
          padding: 75px 5px 0px 5px;
        }

        @media (max-width: $tabletBreakpoint) {
          padding: 15px 5px 0px 5px;
        }

        &.first{

          @media (max-width: $smalldeskBreakpoint) {
            padding: 75px 5px 0px 5px;
          }
        }

        a {
          @include fontDef(white, 'Open Sans', 14px, bolder, 11px);
        }

        &.logo {
          padding: 0 15px 0px 15px;

          @media (max-width: $tabletBreakpoint) {
            display: none;
          }
        }
      }
      @media (max-width: $tabletBreakpoint) {
        display: block;
      }
    }
  }

  #navbar-trigger {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 5%;
    right: 3%;
    text-align: center;
    display: none;

    @media (max-width: $tabletBreakpoint) {
      display: block;
    }
    
  }

  .mobile-logo {
    display: none;
    position: absolute;
    top: 0%;

    @media (max-width: $tabletBreakpoint) {
      display: block;
    }
  }
  
}

/* Style the section */
section {
  width: 100%;

  @media (max-width: $smalldeskBreakpoint) {
    text-align: center;
  }

  &.section-top {
    background-color: $topBackgroundcolor;
  }

  &.section-awesome-works {
    padding: 25px 0;
  }
  
  /* Style the inner-container */
  h2, h2.section-title {
    @include fontDef($lightBrown, 'Raleway', 22px, 400, 36px);
    padding: 60px 0px 0px 0px;
    margin: 0px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    .bold {
      color: $topBackgroundcolor;
      font-weight: 800;
    }
  }

  h2.title {
    @include fontDef(white, 'Raleway', 36px, 800, 70px, none, uppercase);
    padding-bottom:0px;

    .golden {
      color:$golden;
    }
  }

  p.title-description {
    @include fontDef($lightBlue, 'Raleway', 16px, 300, 25px);
    text-align: center;
    width:80%;
    margin:0 auto;
  }
  
  /* Style the content */
  .content {
    width: 100%;
    padding: 64px 0 0 0 ;

    @media (max-width: $smalldeskBreakpoint) {
      padding: 1px 0 0 0;
    }

    /* Style banner content */
    .banner {
      display: flex;
      justify-content: space-between;

      @media (max-width: $smalldeskBreakpoint) {
        display: block;
      }

      .description {
        padding: 0 50px 0 40px;
        p {
          padding: 55px 0 0 0;
          @include fontDef(white, 'Raleway', 18px, 100, 14px, none, uppercase);
          
          .bold {
            font-weight: 800;
          }
        }

        h1 {
          @include fontDef(white, 'Raleway', 80px, 800, 80px, none, uppercase);
          margin: 0px;
          padding: 25px 0px;

          @media (max-width: $mobileBreakpoint) {
            font-size: 54px;
          }

          .acent {
            color: $golden;
          }
        }
      }

      .content-mac {
        padding : 0 26px 0 0;
        img {
          @media (max-width: $mobileBreakpoint) {
            width: 100%;
          }
        }
      }
    }
    
    /* Style about content */
    .about {
      display: flex;
      align-items: center;

      @media (max-width: $tabletBreakpoint) {
        display: block;
      }      

      .about-item {
        width: 20%;
        margin-bottom: 78px;
        padding: 0 23px;
        
        @media (max-width: $tabletBreakpoint) {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        } 

        @media (max-width: $mobileBreakpoint) {
          display:grid;
        }

        .img {
          display: flex;
          justify-content: center;
        }

        .about-desc {
          display: block;
        }

        h3 {
          @include fontDef($strongBrown, 'Raleway', 18px, 600, 25px);
          text-align: center;
          margin-top: 31px;
        }

        p {
          @include fontDef($semiBrown, 'Raleway', 14px, 400, 22px);
          margin: 6px 0;
          text-align: center;
        }
      }
    }

    /* Style what-we-do content */
    .what-we-do {
      background: url("../../public/images/line.png") no-repeat center center; 
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      background-size: contain;
      display: block;
      min-height: 2411px;

      @media (max-width: $smalldeskBreakpoint) {
        background: transparent;
        min-height: auto;
        padding: 0 0 50px 0;
      }

      .what-we-do-sector {
        display: flex;
        align-items: center;

        @media (max-width: $smalldeskBreakpoint) {
          flex-direction: column;
          width: 100%;
        }

        .sector-desc {
          padding: 0px 38px;
          @media (max-width: $smalldeskBreakpoint) {
            display: grid;
          }

          h3 {
            @include fontDef(white, 'Raleway', 22px, 600, 36px);
            margin: 0px;
            padding: 35px 0px;
            @media (max-width: $mobileBreakpoint) {
              padding: 15px 0;
            }
          }

          p {
            padding: 0px 0 0 0;
            margin: 0 0 35px 0;
            @include fontDef($lightBlue, 'Raleway', 14px, 300, 24px);
            @media (max-width: $mobileBreakpoint) {
              margin: 0 0 15px 0;
            }
          }
        }

        .sector-image {
          padding: 0px 38px;

          @media (max-width: $smalldeskBreakpoint) {
            order: -1;
          }

          &.left {
            order: -1;
          }

          img {
            padding : 0px 30px 0px 0px;
            @media (max-width: $smalldeskBreakpoint) {
              width: 100%
            }
          }
        }
      }
    }

    /* Style how-we-work content */
    .how-we-work {
      padding-top: 85px;
      display: block;
      &.mobile-view {
        display: none;
        width: 100%;

        @media (max-width: $tabletBreakpoint) {
          display: block;
          background: transparent;
          min-height: auto;
          margin-bottom:70px;
        }

        @media (max-width: $mobileBreakpoint) {
          display: block;
          background: transparent;
          min-height: auto;
          margin-bottom: 0px;
          padding-top: 0px;
        }
      }

      @media (max-width: $tabletBreakpoint) {
        display: none;
      }

      .how-we-work-sector{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        @media (max-width: $tabletBreakpoint) {
          margin-top:25px;
        }

        .work-desc {
          display: grid;
        }

        .sector-title{
          min-width: 281px;

          @media (max-width: $mobileBreakpoint) {
            width: 100%;
          }

          h4{
            @include fontDef(#fd5f42, 'Open Sans', 72px, 700, 30px);
            font-style: italic;
            margin: 0px; 

            span {
              @include fontDef(#fd5f42, 'Open Sans', 25px, 600, 30px);
              font-style: normal;
              padding-left: 53px;
              vertical-align: middle;
              &.right-padding{
                padding-left:0px;
                padding-right:53px;
              }
            }
          }
        }

        .sector-order{
          margin: -2px 60px -2px 60px;
          @media (max-width: $smalldeskBreakpoint) {
            margin: -2px 10px;
          }

          @media (max-width: $mobileBreakpoint) {
            display: none;
          }

        }

        .sector-desc{
          min-width: 281px;

          @media (max-width: $mobileBreakpoint) {
            width: 100%;
          }

          p{
            @include fontDef($darkBackground, 'Raleway', 14px, 400, 24px);
            margin: 0px;
          }
        }
      }
    }

    /* Style awesome-works content */
    .awesome-works {
      padding-top: 50px;
      justify-content: center;
      width:100%;

      .awesome-works-categories {
        display: flex;
        justify-content: center;

        @media (max-width: $tabletBreakpoint) {
          display: grid;
        }
        button {
      
          @media (max-width: $tabletBreakpoint) {
            margin: 10px 10px;
          }
        }
      }

      .awesome-works-gallery {
        
        .gallery-row {
          display: flex;
          justify-content: center;
          padding: 50px 0 0 0;

          @media (max-width: $tabletBreakpoint) {
            display: inline-block;
          }

          @media (max-width: $mobileBreakpoint) {
            width: 100%;
          }

          .gallery-item {
            padding: 10px;
            width:25%;

            @media (max-width: $tabletBreakpoint) {
              width: 100%
            }
            @media (max-width: $mobileBreakpoint) {
              width: 65%;
              margin: auto;
            }

            img {
              border: 5px solid white;
              width: 100%;
            }
          }
        }
      }

      .gallery-more {
        display: flex;
        justify-content: center;
        padding: 74px 0px;
      }
    }

    /* Style fantasic-facts content*/
    .fantasic-facts {
      display: flex;
      justify-content: center;
      padding: 110px 0px;
      width:100%;

      @media (max-width: $tabletBreakpoint) {
        display: block;
      }

      .fact-item {
        padding: 45px 20px;
        min-width: 220px;
        
        @media (max-width: $smalldeskBreakpoint) {
          min-width: 153px;
          padding: 40px 10px;
        }

        @media (max-width: $tabletBreakpoint) {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        @media (max-width: $mobileBreakpoint) {
          width: 100%;
        }

        .item-desc {
          justify-content: center;
        }

        .item-title {
          display: flex;
          justify-content: center;
          @include fontDef(white, 'Nexa-Bold', 40px, 800, 25px);
        }

        .item-detail {
          display: flex;
          justify-content: center;
          @include fontDef(white, 'Open Sans', 12px, 100, 25px);
          padding:22px 0px;
          
          @media (max-width: $tabletBreakpoint) {
            padding-bottom: 0;
          }
        }

        .item-icon {
          display: flex;
          justify-content: center;
          padding:10px 0px;
          min-width: 92px;
        }
      }
    }

    /* Style talented-people content */
    .talented-people {

      display: flex;
      justify-content: center;
      background: url('../../public/images/talented-people-line.png') no-repeat center center; 
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      background-size: contain;
      min-height: 1385px;
      margin-top: 52px;

      @media (max-width: $tabletBreakpoint) {
        display: block;
        background: none;
      }

      .people-row {
        margin-top: 198px;

        &.left-row {
          
          @media (max-width: $tabletBreakpoint) {
            margin: 0px;
          }
          & .individual-person{
            margin-top: 60px;
          }
          
          & .individual-person::after{
            width: 0; 
            height: 0; 
            content: '';
            margin-top:20px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 18px solid white;
            
            @media (max-width: $tabletBreakpoint) {
              display: none;
            }
          }
        }

        &.right-row {
          padding-bottom: 45px;

          @media (max-width: $tabletBreakpoint) {
            margin: 60px 0 45px 0;
          }

          & .individual-person {
            margin-bottom: 60px;
          }
          & .individual-person::before{
            width: 0; 
            height: 0; 
            content: '';
            margin-top:20px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right:18px solid white; 
            
            @media (max-width: $tabletBreakpoint) {
              display: none;
            }
          }
        }

        .individual-person {
          display: flex;
          background-color:transparent;
          margin: 0px 68px;
          
          @media (max-width: $smalldeskBreakpoint){
            margin: 0px 30px;
          }
          @media (max-width: $mobileBreakpoint){
            display: block;
          }

          .person-photo {
            background-color: #e3e2e2;
            width: 40%;
            min-height: 100px;

            @media (max-width: $tabletBreakpoint) {
              width: 100%;
            }

          }

          .person-detail {
            background-color: white;
            width: 60%;
            display: block;
            padding: 25px;

            @media (max-width: $tabletBreakpoint) {
              width: 100%;
            }

            .person-name {
              @include fontDef(#2c3e50, 'Raleway', 16px, 600, 16px);
              margin: 5px 0;
            }

            .person-title {
              @include fontDef(#ff5c26, 'Raleway', 12px, 400, 12px);
            }

            .person-desc {
              @include fontDef(#879cb0, 'Raleway', 13px, 300, 13px);
            }

            .person-social {
              display: flex;
              justify-content: space-evenly;
      
              @media (max-width: $mobileBreakpoint)  {
                display: block;
              }
    

              img {
                padding: 2px;
              }

            }

          }

        }

      }

    }

    /* Style promotion-price content */
    .promotion-prices {
      
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      margin-bottom: 50px;

      @media (max-width: $smalldeskBreakpoint) {
        display: block;
      }

      * {
        text-align: center;
      }

      .price-ticket {
        flex: 3;

        &:hover{
          cursor: pointer;

          .ticket-header {
            padding: 62px 40px 60px;
          }

        }

        &.selected {
          flex: 4;

          .ticket-header {
            padding: 62px 40px 60px;
          }

        }
        
        margin: 10px 10px;

        .ticket-header {

          padding: 30px;

          h4 {
            margin:10px;
            @include fontDef(white, 'Raleway', 18px, $regular, 24px);
          }

          .starting-from {
            margin: 40px;
            @include fontDef(white, 'Raleway', 13px, $regular, 24px);
          }

          .price {
            margin:30px 0;
            @include fontDef(white, 'Arvo', 45px, $regular, 50px);

            .price-cost {
              @include fontDef(white, 'Raleway', 88px, $bold, 22px);
            }

          }

          .price-detail {
            @include fontDef(white, 'Raleway', 13px, $regular, 22px);
          }

        }

        .ticket-body {

          h5 {
            @include fontDef(#333333, 'Raleway', 14px, $semiBold, 22px, none, uppercase);
          }

          .details {
            @include fontDef(#777777, 'Raleway', 13px, $regular, 30px);
          }

        }

      }

    }
    
    .blog-posts {

      .blog-article {

        display: flex;
        
        @media (max-width: $smalldeskBreakpoint) {
          display: block;
        }

        .article-blank{
          width : 50%;
          background-color: white;
        }

        .post-article {
          width:50%;
          padding: 15px 48px;
 
          @media (max-width: $smalldeskBreakpoint) {
            width: 100%;
          }

          &.left {
            order: -1
          }

          .post-date {
            @include fontDef(#333333, 'Raleway', 12px, $regular, 2px);
          }

          .post-title {
            @include fontDef(white, 'Raleway', 20px, $semiBold, 20px, none, uppercase);

            @media (max-width: $smalldeskBreakpoint) {
              line-height: 22px;
            }
          }

          .post-desc {
            @include fontDef(white, 'Raleway', 13px, $regular, 22px);
          }

          .post-detail {
            @include fontDef(white, 'Raleway', 13px, $regular, 24px);

            span {
              &.badge {
                background-color: white;
                color: #27ae60;
                padding:2px;
                border-radius: 3px;
              }
              margin-right: 15px;
            }
          }

        }

      }

    }

    .subscribe-form {
      padding: 30px 5px 80px 5px;
      display: flex;
      
      @media (max-width: $smalldeskBreakpoint) { 
        padding: 30px 5px 29px 5px;
      }

      @media (max-width: $tabletBreakpoint) {
        display: grid;
      }

      .subscribe-input {
        width: 50%;

        @media (max-width: $tabletBreakpoint) {
          width: 100%
        }
        
        input {
          width: 100%;
          height: 100px;
          border: #16a085 5px solid;
          background-color: #333333;
          text-align: center;
          @include fontDef(#16a085, 'Open Sans', 14px, $bold, 20px, none, uppercase);
        }
      }

      .post-button {
        width: 50%;

        @media (max-width: $tabletBreakpoint) {
          width: 100%
        }

        button {
          width: 100%;
          height: 100px;
          background-color: #16a085;
          outline: none;
          border: none;
          @include fontDef(white, 'Open Sans', 14px, $bold, 20px, none, uppercase);
        }

      }
    }

    .client-logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 64px 0;

      @media (max-width: $smalldeskBreakpoint) {
        flex-direction: column;
        margin: auto;
        padding: 10px 0px;
      }

      img {
        opacity: 0.5;

        @media (max-width: $smalldeskBreakpoint) {
          padding:10px 0px;
        }

      }
    }

    .testimonials {
      display: block;
      padding-bottom: 50px;

      .testimonial-title {
        text-align: center;

        p {
          @include fontDef(#bcc3ca, 'Arial', 200px, bolder, 0px);
          text-shadow: 3px 3px #182430;
          margin: 60px 0px 35px 0;
          
          @media (max-width: $smalldeskBreakpoint) {
            margin-top: 125px;
          }
        }

      }

      .testimonial-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $smalldeskBreakpoint) {
          flex-direction: column;
        }

        .testimonial-icon {
          width: 80px;
          height: 80px;
          background-color: #4e6e8e;
          border-radius: 40px;
          margin: 0px 5px;

          &.active {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background-color: #e3e2e2;
          }
          &:hover{
            width: 100px;
            height: 100px;
            border-radius: 50px;
          }
        }
      }

      .testimonial-article {
        margin: 0px 50px;

        p {
          @include fontDef(#bcc3ca, 'Open Sans', 16px, 400, 30px);
          text-align: center;
        }

        h5 {
          @include fontDef(#f1f2f3, 'Raleway', 14px, 700, 24px);
          text-align: center;
        }
      }

    }

  }
  
  .more-people {
    display: flex;
    justify-content: center;
  }
}

#scroll-down {
  display: block;
  border: none;
  background-color: transparent;
  @include fontDef(white, 'Raleway', 16px, 600, 28px);
  width: 30px;
  cursor:pointer;
  z-index: 20;
  margin:auto;

  .text{
    margin-left:5px;
  }

  .arrow{
    font-size:35px
  }
}  

footer {
  background-color: #011926;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: $tabletBreakpoint) {
  nav, article {
  width: 100%;
  height: auto;
  }
}
  